*{
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	font-family: 'Raleway', sans-serif;
}
hr{
	
}
body{
	

}
a{
	cursor: ;
}
.ciano-b{
	background-color: #9dc9b8;
	padding: 10px 0;
}
.blue-b{
	background-color: #6fa8dc;
	padding: 10px 0;
}
.green-b{
	background-color: #93c47d;
	padding: 10px 0;
}
.container{
	max-width: 1170px;
	margin: 0 auto;	
}
.flex-center{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar-brand{
	float: right !important;
}
.carousel{
	max-height: 700px; 
	max-width: auto;"
}
.carousel-inner img{
	max-height: 700px;
	max-width: auto;
	justify-self: center;
	margin: 0 auto;
}
.carousel-caption{
	color: black !important;
	text-shadow: 1px 1px 10px #CECECE;
}
#about{
	max-width: 100%;
	max-height: 500px;
	padding: 5px 0;
	box-sizing: border-box;
	flex-wrap: wrap;
	flex-direction: column;
	background-image: url(../image/nós.jpg); 
	background-position: center; padding: 80px;
}
.about{
	text-align: justify;
	margin: 2px 20px;
	border-radius: 10px;
	width: 	100%;
	background-color: rgba(255, 255, 255, 0.6);
}
.about h1{
	text-align: center;
}
.about p{
	font-weight: Bold;
	margin: 0 20px;
}
#about-img{
	width: auto !important	;
	height: 24rem !important;
	border-radius: 10px !important;
}
.card{
	border: 0px solid red !important;
	margin: 0 20px;
}
.card img{
	width: 100% !important; /* width of container */
    height: 300px !important; /* height of container */
    max-height: none !important;
    object-fit: cover;
    object-position: center;
}
.card-text{
	text-align: justify;
}
.fale{
	border: 3px solid black;
	border-radius: 5px;
	background-color: skyblue;
}
.button-red{
	border-radius: 5px;
	border: 5px solid black;
}
footer{
	background: black;
	padding: 10px;
	color: white !important;
}
